<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
<div>

    <table border="1" style="text-align: center">
        <thead>
        <tr>
            <td>id序号</td>
            <td>姓名</td>
            <td>密码</td>
            <td>邮箱</td>
        </tr>
        </thead>
        <tbody>
        {% for user in userList %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.email }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

</div>

</body>
</html>